In [3]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from geopy.distance import geodesic

In [15]:
#reading in the csv file
staten_island_df = pd.read_csv("Resources/staten_island.csv")
staten_island_df.head()

   OBJECTID        Borough  Offense   Latitude  Longitude Public Area
0         1  Staten Island  ROBBERY  40.643566 -74.074001         NaN
1         2  Staten Island  ROBBERY  40.635961 -74.161365         NaN
2         3  Staten Island  ROBBERY  40.643569 -74.098338         NaN
3         4  Staten Island  ROBBERY  40.630408 -74.142977         NaN
4         5  Staten Island  ROBBERY  40.630539 -74.076641         NaN

In [5]:
# crimes df
crimes = staten_island_df.iloc[0:365, :]
offense_df = crimes.drop(columns= ["Borough", "Public Area"])
offense_df.head()

   OBJECTID  Offense   Latitude  Longitude
0         1  ROBBERY  40.643566 -74.074001
1         2  ROBBERY  40.635961 -74.161365
2         3  ROBBERY  40.643569 -74.098338
3         4  ROBBERY  40.630408 -74.142977
4         5  ROBBERY  40.630539 -74.076641

In [6]:
# public institutions df
public = staten_island_df.iloc[366:389, :]
public_area_df = public.drop(columns= ["Borough", "Offense"])
public_area_df.head()

     OBJECTID   Latitude  Longitude                      Public Area
366       367  40.614533 -74.074185                            PARKS
367       368  40.510392 -74.230405  RECREATION AND WATERFRONT SITES
368       369  40.595802 -74.063027                 PUBLIC LIBRARIES
369       370  40.590395 -74.101138                 PUBLIC LIBRARIES
370       371  40.638748 -74.083899                            PARKS

In [21]:
# offense coordinates (lat and lon)
for index, row in offense_df.iterrows():
    offense_lat = offense_row['Latitude']
    offense_lon = offense_row['Longitude']

    # public area coordinates (lat and lon)
    for index, row in public_area_df.iterrows():
        public_lat = public_row['Latitude']
        public_lon = public_row['Longitude']

        # Distance between offense and public area
        distance = geodesic((offense_lat, offense_lon), (public_lat, public_lon)).miles

        # Repeat
        offense_df.loc[offense_index, f'Distance_to_Public_{public_index}'] = distance

# Print updated offense_df
offense_df

,OBJECTID,Offense,Latitude,Longitude,distance,Distance_to_Public_366,Distance_to_Public_367,Distance_to_Public_368,Distance_to_Public_369,Distance_to_Public_370,...,Distance_to_Public_379,Distance_to_Public_380,Distance_to_Public_381,Distance_to_Public_382,Distance_to_Public_383,Distance_to_Public_384,Distance_to_Public_385,Distance_to_Public_386,Distance_to_Public_387,Distance_to_Public_388
0,1,ROBBERY,40.643566,-74.074001,1.071363,2.003356,12.334976,3.345906,3.936571,0.617397,...,0.440115,9.820089,1.257431,12.869744,4.035769,10.025034,2.675753,7.817468,4.698597,2.521369
1,2,ROBBERY,40.635961,-74.161365,1.071363,4.816013,9.395021,5.866473,4.462610,4.076523,...,4.201471,7.228525,3.701164,9.749693,3.480541,7.726574,4.828698,6.156851,3.477882,2.362589
2,3,ROBBERY,40.643569,-74.098338,1.071363,2.372017,11.520526,3.782928,3.672023,0.828653,...,0.890131,9.056342,0.946670,12.014788,3.428575,9.338099,2.850061,7.230371,4.004691,1.461109
3,4,ROBBERY,40.630408,-74.142977,1.071363,3.779083,9.473125,4.834892,3.530344,3.158422,...,3.303416,7.154705,2.718745,9.893440,2.626441,7.572212,3.793240,5.771766,2.779712,1.343835
4,5,ROBBERY,40.630539,-74.076641,1.071363,1.111976,11.583865,2.501522,3.054880,0.682933,...,0.775455,9.052212,0.769317,12.139188,3.260117,9.222801,1.768262,6.987977,3.946128,2.157205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,361,ROBBERY,40.635738,-74.132124,1.071363,3.379306,10.076930,4.560046,3.527554,2.543440,...,2.675142,7.717483,2.173102,10.514326,2.772077,8.102351,3.507359,6.207727,3.076432,0.922177
361,362,ROBBERY,40.576854,-74.117437,1.071363,3.454662,7.509365,3.146706,1.268127,4.620595,...,4.813970,4.963218,3.978470,8.126274,1.372935,5.021047,2.801658,2.739366,1.219827,3.548395
362,363,ROBBERY,40.632740,-74.152082,1.071363,4.283840,9.394267,5.331474,3.964032,3.608008,...,3.743289,7.145041,3.199460,9.783683,3.011036,7.603256,4.292776,5.914016,3.074661,1.840332
363,364,ROBBERY,40.614616,-74.084716,1.071363,0.553786,10.511678,1.728109,1.881254,1.665688,...,1.833573,7.968547,1.178603,11.087328,2.224976,8.104127,0.729495,5.848249,2.925712,1.967802
364,365,ROBBERY,40.613121,-74.121981,1.071363,2.515160,9.099447,3.322772,1.913265,2.671204,...,2.864473,6.619423,2.030211,9.612148,1.140913,6.897977,2.328102,4.822513,1.588761,1.071363